#{extends 'main.html' /}
#{set title:'Form Generator' /}


	<style>
	ul.container  { list-style-type: none; padding: 0; margin-bottom: 1px; min-height: 100px;}
  .remove-me{cursor: default; background-color: #FAA; float: right; width: 12px; text-align: center; height: 100%;}
  .container li p { margin: 0px; padding: 0px; border: 0px}
  ul li {border: 0px; display: block; margin-bottom: 3px}
	</style>
	<script>
	$(function() {
		$( "#sortable" ).sortable({
			revert: true,
      receive: function(e, ui){
        generate($(this))
      }
		});
    
    $( "[component]" ).draggable({
			connectToSortable: "#sortable",
			helper: "clone",
			revert: "invalid"
		});
    
		$( "ul, li" ).disableSelection();
	});
  
  function generate(obj){
        var code = ""
        $(obj).children().each(function(idx, elm){
          code += 'label: ' + $(elm).children('div').children('label').html() 
          code += ', class: ' + $(elm).prop('class').split(' ')[0] 
          /*code += " ["
          code += $(elm).prop('class').split(' ')[0] + $(elm).attr('component') 
          code += " ]"*/
          code += " <br />\n"
          //alert($(elm).prop('class'))
        })
        $("#code").html(code)
  }
  
  function remove(obj) {
    $(obj).parent().parent().remove()
  }
  
  function rename(obj) {
    var oldLabel = $(obj).children("label").html()
    var newLabel = prompt("rename", oldLabel)
    $(obj).children("label").html(newLabel)
  }
	</script>



<div class="container">
<ul class="container">
  <li id="draggable" class=" g6" component="{label input}"><div class="ui-widget-content" ondblclick="rename(this);"><label>Label</label><input type="text" /><span class="remove-me" onclick="remove(this)">x</span></div></li>
  <li id="draggable" class=" g6" component="{label input}"><div class="ui-widget-content" ondblclick="rename(this);"><label>Label</label><input type="text" /><span class="remove-me" onclick="remove(this)">x</span></div></li>
  <li id="draggable" class=" g6" component="{label input}"><div class="ui-widget-content" ondblclick="rename(this);"><label>Label</label><input type="text" /><span class="remove-me" onclick="remove(this)">x</span></div></li>
  <li id="draggable" class=" g6" component="{label input}"><div class="ui-widget-content" ondblclick="rename(this);"><label>Label</label><input type="text" /><span class="remove-me" onclick="remove(this)">x</span></div></li>
  <li id="draggable" class=" g8" component="{label input}"><div class="ui-widget-content" ondblclick="rename(this);"><label>Label</label><input type="text" /><span class="remove-me" onclick="remove(this)">x</span></div></li>
  <li id="draggable" class=" g8" component="{label input}"><div class="ui-widget-content" ondblclick="rename(this);"><label>Label</label><input type="text" /><span class="remove-me" onclick="remove(this)">x</span></div></li>
  <li id="draggable" class=" g8" component="{label input}"><div class="ui-widget-content" ondblclick="rename(this);"><label>Label</label><input type="text" /><span class="remove-me" onclick="remove(this)">x</span></div></li>
  <li id="draggable" class=" g12" component="{label input}"><div class="ui-widget-content" ondblclick="rename(this);"><label>Label</label><input type="text" /><span class="remove-me" onclick="remove(this)">x</span></div></li>
  <li id="draggable" class=" g12" component="{label input}"><div class="ui-widget-content" ondblclick="rename(this);"><label>Label</label><input type="text" /><span class="remove-me" onclick="remove(this)">x</span></div></li>
</ul>

</div>

<ul id="sortable" class="container ui-widget-content">
</ul>

<div class="container code">
<button class="g24" onclick="generate($('#sortable'));">generate</button>
<code id="code">abcdefghi<code>
</div>