#{extends 'main.html' /}
#{set title:'Form Generator' /}


	<style>
	ul.container  { list-style-type: none; padding: 0; margin-bottom: 1px; min-height: 100px;}
  .remove-me{cursor: default; background-color: #FAA; float: right; width: 12px; text-align: center; height: 100%;}
  .container li p { padding: 0px; border: 0px}
  ul li {border: 0px; display: block; margin-bottom: 3px}
  .code{font-family: monospace; font-size:90%;}
	</style>
	<script>
	$(function() {
		$( "#sortable" ).sortable({
			revert: true,
      receive: function(e, ui){
        generate($(this))
      }
		});
    
    $( "[component]" ).draggable({
			connectToSortable: "#sortable",
			helper: "clone",
			revert: "invalid"
		});
    
		$( "ul, li" ).disableSelection();
	});
  
  function generate(obj){
        var code = ""
        //var i = 0
        $(obj).children().each(function(idx, elm){
          code += '{\"label\": \"' + $(elm).children('div').children('label').html() + '\"'
          code += ', \"class\": \"' + $(elm).prop('class').replace(' ui-draggable','') + '\"'
          /*code += " ["
          code += $(elm).prop('class').split(' ')[0] + $(elm).attr('component') 
          code += " ]"*/
          code += "}"
          //i++
          //alert($(obj).children().length)
          if(idx != $(obj).children().length - 1) {
            code += ",\n"
          }
          //alert($(elm).prop('class'))
        })
        $("#code").html(code)
  }
  
  function remove(obj) {
    $(obj).parent().parent().remove()
  }
  
  function rename(obj) {
    var oldLabel = $(obj).children("label").html()
    var newLabel = prompt("rename", oldLabel)
    $(obj).children("label").html(newLabel)
  }
  
  function reload(container, source){
    var src = $(source).val()
    var objs = $.parseJSON('['+src+']');
    var cls
    var obj
    var item

    $(container).children().remove()
    for(i=0; i<$(objs).length; i++){
      obj = $(objs)[i]
      cls = obj.class.replace(/ /g, '_')
      item = $('#'+cls).clone().appendTo($(container))
              .children("div").children("label").html(obj.label)
    }
  }
	</script>



<div class="container">
<ul class="container">
  <li id="g6_first" class=" g6 first" additional-class="first" component="{label input}"><div class="ui-widget-content" ondblclick="rename(this);"><label>Label</label><input type="text" /><span class="remove-me" onclick="remove(this)">x</span></div></li>
  <li id="g6" class=" g6" component="{label input}"><div class="ui-widget-content" ondblclick="rename(this);"><label>Label</label><input type="text" /><span class="remove-me" onclick="remove(this)">x</span></div></li>
  <li id="draggable" class=" g6" component="{label input}"><div class="ui-widget-content" ondblclick="rename(this);"><label>Label</label><input type="text" /><span class="remove-me" onclick="remove(this)">x</span></div></li>
  <li id="draggable" class=" g6" component="{label input}"><div class="ui-widget-content" ondblclick="rename(this);"><label>Label</label><input type="text" /><span class="remove-me" onclick="remove(this)">x</span></div></li>
  <li id="g8_first" class=" g8 first" component="{label input}"><div class="ui-widget-content" ondblclick="rename(this);"><label>Label</label><input type="text" /><span class="remove-me" onclick="remove(this)">x</span></div></li>
  <li id="g8" class=" g8" component="{label input}"><div class="ui-widget-content" ondblclick="rename(this);"><label>Label</label><input type="text" /><span class="remove-me" onclick="remove(this)">x</span></div></li>
  <li id="draggable" class=" g8" component="{label input}"><div class="ui-widget-content" ondblclick="rename(this);"><label>Label</label><input type="text" /><span class="remove-me" onclick="remove(this)">x</span></div></li>
  <li id="g12_first" class=" g12 first" component="{label input}"><div class="ui-widget-content" ondblclick="rename(this);"><label>Label</label><input type="text" /><span class="remove-me" onclick="remove(this)">x</span></div></li>
  <li id="g12" class=" g12" component="{label input}"><div class="ui-widget-content" ondblclick="rename(this);"><label>Label</label><input type="text" /><span class="remove-me" onclick="remove(this)">x</span></div></li>
</ul>

</div>
<div class="container">
<ul id="sortable" class="container ui-widget-content" style=" position: relative; overflow: auto; height:auto;">
</ul>
</div>

<div class="container code">
<button class="g12" onclick="generate($('#sortable'));">generate</button>
<button class="g12" onclick="reload($('#sortable'), $('#code'));">reload</button>
<textarea id="code" rows="6" class="g24 code">
{"label": "aa", "class": "g6"},
{"label": "bb", "class": "g6"}
</textarea>
</div>